<section
  class="w-full lg:min-h-screen flex flex-col-reverse md:w-[80%] mx-auto lg:flex-row items-center justify-between px-6 lg:px-16 py-12"
>
  <!-- Texto y botones -->
  <div class="w-full lg:w-1/2 text-center lg:text-left">
    <h1 class="text-3xl lg:text-6xl font-bold text-gray-900 leading-tight">
      Acompañando el crecimiento <span class="text-primary text-5xl lg:text-7xl"
        >extraordinario</span
      >
    </h1>
    <p class="mt-4 text-lg text-gray-700">
      Integramos estimulación temprana, terapias y crianza consciente para un
      desarrollo pleno.
    </p>
    <div
      class="mt-6 flex flex-col sm:flex-row gap-4 justify-center lg:justify-start"
    >
      <a
        href="#"
        class="cursor-pointer transition-all bg-primary text-white px-6 py-2 rounded-3xl
border-quaternary
border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
active:border-b-[2px] active:brightness-90 active:translate-y-[2px]"
      >
        Más información
      </a>
      <a
        href="#"
        class="px-6 py-3 border border-primary text-primary font-semibold rounded-4xl shadow-md hover:bg-blue-50 transition"
      >
        Contáctanos
      </a>
    </div>
  </div>

  <!-- Imagen en móviles arriba, en desktop a la derecha -->
  <div class="w-full lg:w-1/2 flex justify-center mb-6 lg:mb-0 z-10">
    <img
      src="/hero.png"
      alt="Niños jugando"
      class="w-full max-w-md lg:max-w-lg object-cover"
    />
  </div>
</section>
