---

---

<section class="bg-fondo">
  <div class="w-full lg:w-[80%] mx-auto px-6 lg:px-16 py-12 text-left">
    <p class="text-lg text-secondary font-semibold">
      La decision para una crianza efectiva
    </p>

    <!-- Título principal -->
    <h2 class="text-3xl lg:text-4xl font-bold text-primary mt-2">
      Nuestros <br />servicios educativos
    </h2>
  </div>
  <div class="md:w-[100%] lg:w-[75%] grid md:grid-cols-3 mx-auto">
    <div
      class="bg-primary p-8 flex flex-col rounded-4xl shadow-alternative shadow-2xl m-4 transform transition duration-300 hover:scale-110"
    >
      <img
        src="https://www.shutterstock.com/image-photo/cute-little-children-playing-math-600nw-2470808669.jpg "
        class="rounded-4xl"
      />
      <h1 class="font-bold text-2xl md:text-3xl text-white text-lef mt-8">
        Card 1
      </h1>
      <p class="text-white text-left mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia
        suscipit atque incidunt laudantium cumque? Blanditiis, accusantium minus
        magni suscipit sunt fugiat voluptatibus. Dolorem quaerat nulla totam
        quae, saepe odio.
      </p>
    </div>

    <div
      class="bg-primary p-8 flex flex-col rounded-4xl shadow-alternative shadow-2xl m-4 transform transition duration-300 hover:scale-110"
    >
      <img
        src="https://www.shutterstock.com/image-photo/cute-little-children-playing-math-600nw-2470808669.jpg "
        class="rounded-4xl"
      />
      <h1 class="font-bold text-2xl md:text-3xl text-white text-lef mt-8">
        Card 2
      </h1>
      <p class="text-white text-left mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia
        suscipit atque incidunt laudantium cumque? Blanditiis, accusantium minus
        magni suscipit sunt fugiat voluptatibus. Dolorem quaerat nulla totam
        quae, saepe odio.
      </p>
    </div>
    <div
      class="bg-primary p-8 flex flex-col rounded-4xl shadow-alternative shadow-2xl m-4 transform transition duration-300 hover:scale-110"
    >
      <img
        src="https://www.shutterstock.com/image-photo/cute-little-children-playing-math-600nw-2470808669.jpg "
        class="rounded-4xl"
      />
      <h1 class="font-bold text-2xl md:text-3xl text-white text-lef mt-8">
        Card 3
      </h1>
      <p class="text-white text-left mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quia
        suscipit atque incidunt laudantium cumque? Blanditiis, accusantium minus
        magni suscipit sunt fugiat voluptatibus. Dolorem quaerat nulla totam
        quae, saepe odio.
      </p>
    </div>
  </div>
</section>
