---

---

<section class="bg-fondo">
  <div class="w-full lg:w-[80%] mx-auto px-6 lg:px-16 py-12 text-left">
    <p class="text-lg text-secondary font-semibold"></p>

    <!-- Título principal -->
    <h2 class="text-3xl lg:text-4xl font-bold text-primary mt-2">
      Nuestros <br /> ultimos posts
    </h2>
  </div>
  <div class="md:w-[100%] lg:w-[75%] grid md:grid-cols-3 mx-auto">
    <div
      class="bg-primary p-8 flex flex-col rounded-4xl shadow-alternative shadow-2xl m-4 transform transition duration-300 hover:scale-110"
    >
      <img
        src="https://www.shutterstock.com/image-photo/cute-little-children-playing-math-600nw-2470808669.jpg "
        class="rounded-4xl"
      />
      <h1 class="font-bold text-2xl md:text-3xl text-white text-lef mt-8">
        La crianza efectiva
      </h1>
      <p class="text-white text-left mt-4">
        La crianza efectiva se basa en el amor, la paciencia y la comunicación.
        A través de límites claros, apoyo emocional y estrategias adecuadas,
        podemos fomentar el desarrollo integral de los niños y fortalecer su
        autoestima.
      </p>
      <button
        class="mt-4 bg-white text-primary font-semibold py-2 px-4 rounded-lg transition duration-300 hover:bg-gray-200"
      >
        Leer más
      </button>
    </div>

    <div
      class="bg-primary p-8 flex flex-col rounded-4xl shadow-alternative shadow-2xl m-4 transform transition duration-300 hover:scale-110"
    >
      <img
        src="https://images.unsplash.com/photo-1551966775-a4ddc8df052b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D "
        class="rounded-4xl"
      />
      <h1 class="font-bold text-2xl md:text-3xl text-white text-lef mt-8">
        Pequeñas acciones
      </h1>
      <p class="text-white text-left mt-4">
        En Nedeal creemos que cada pequeño esfuerzo suma. Pequeñas acciones
        diarias pueden generar un gran impacto en el desarrollo y aprendizaje de
        los niños, fortaleciendo sus habilidades y confianza.
      </p>
      <button
        class="mt-4 bg-white text-primary font-semibold py-2 px-4 rounded-lg transition duration-300 hover:bg-gray-200"
      >
        Leer más
      </button>
    </div>
    <div
      class="bg-primary p-8 flex flex-col rounded-4xl shadow-alternative shadow-2xl m-4 transform transition duration-300 hover:scale-110"
    >
      <img
        src="https://images.unsplash.com/photo-1537440499989-de5f6b6854de?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D "
        class="rounded-4xl"
      />
      <h1 class="font-bold text-2xl md:text-3xl text-white text-left mt-8">
        La habilidad visomotriz
      </h1>
      <p class="text-white text-left mt-4">
        La habilidad visomotriz es la capacidad de coordinar la vista con los
        movimientos del cuerpo. Es esencial en actividades como la escritura, el
        dibujo y los deportes, permitiendo precisión y control en los
        movimientos.
      </p>
      <button
        class="mt-4 bg-white text-primary font-semibold py-2 px-4 rounded-lg transition duration-300 hover:bg-gray-200"
      >
        Leer más
      </button>
    </div>
  </div>
</section>
