---
import PedriatricoIcon from "../icons/PedriatricoIcon.astro";
import BabyBootle from "../icons/BabyBootle.astro";
import EmbarazoIcon from "../icons/EmbarazoIcon.astro";
import KidIcon from "../icons/KidIcon.astro";
import CrianzaIcon from "../icons/CrianzaIcon.astro";
import SchoolIcon from "../icons/SchoolIcon.astro";
import AppleIcon from "../icons/AppleIcon.astro";
import SpeakIcon from "../icons/SpeakIcon.astro";
import CursoIcon from "../icons/CursoIcon.astro";
import PuzzleIcon from "../icons/PuzzleIcon.astro";
---

<section class="bg-fondo">
  <div class="w-full lg:w-[80%] mx-auto px-6 lg:px-16 py-12 text-left">
    <p class="text-lg text-secondary font-semibold">Servicios</p>

    <!-- Título principal -->
    <h2 class="text-3xl lg:text-4xl font-bold text-primary mt-2">
      Encontrarás todo lo necesario <br /> para el desarrollo de tus hijos
    </h2>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 lg:w-[80%] mx-auto text-center"
  >
    <div
      class="bg-primary p-4 flex flex-col items-center justify-center rounded-4xl m-4 h-full flex-grow transform transition duration-300 hover:scale-110"
    >
      <PedriatricoIcon class="size-12 fill-white" />
      <h1 class="text-white font-bold mt-3 text-2xl">Intervencion oportuna</h1>
      <p class="text-white font-semibold mt-3">
        Atención temprana para detectar y tratar cualquier dificultad en el
        desarrollo infantil.
      </p>
      <button
        class="bg-white text-primary font-semibold py-2 px-4 rounded-lg mt-4 hover:scale-110 hover:text- transition-all"
      >
        Ver más
      </button>
    </div>
    <div
      class="bg-primary p-4 flex flex-col items-center justify-center rounded-4xl m-4 h-full flex-grow transform transition duration-300 hover:scale-110"
    >
      <BabyBootle class="size-12 fill-white" />
      <h1 class="text-white font-bold mt-3 text-2xl">Pediatria</h1>
      <p class="text-white font-semibold mt-3">
        Cuidados médicos especializados para el crecimiento y bienestar de los
        niños.
      </p>
      <button
        class="bg-white text-primary font-semibold py-2 px-4 rounded-lg mt-10 hover:scale-110 hover:text- transition-all"
      >
        Ver más
      </button>
    </div>
    <div
      class="bg-primary p-4 flex flex-col items-center justify-center rounded-4xl m-4 h-full flex-grow transform transition duration-300 hover:scale-110"
    >
      <EmbarazoIcon class="size-12 fill-white" />
      <h1 class="text-white font-bold text-2xl mt-3">Psicologia perinatal</h1>
      <p class="text-white font-semibold mt-3">
        Apoyo emocional para futuras madres durante y después del embarazo.
      </p>
      <button
        class="bg-white text-primary font-semibold py-2 px-4 rounded-lg mt-10 hover:scale-110 hover:text- transition-all"
      >
        Ver más
      </button>
    </div>
    <div
      class="bg-primary p-4 flex flex-col items-center justify-center rounded-4xl m-4 h-full flex-grow transform transition duration-300 hover:scale-110"
    >
      <KidIcon class="size-12 fill-white" />
      <h1 class="text-white font-bold text-2xl mt-3">Psicologia infantil</h1>
      <p class="text-white font-semibold mt-3">
        Asesoramiento para niños y adolescentes en su desarrollo emocional y
        social.
      </p>
      <button
        class="bg-white text-primary font-semibold py-2 px-4 rounded-lg mt-6 hover:scale-110 hover:text- transition-all"
      >
        Ver más
      </button>
    </div>
    <div
      class="bg-primary p-4 flex flex-col items-center justify-center rounded-4xl m-4 h-full flex-grow transform transition duration-300 hover:scale-110"
    >
      <CrianzaIcon class="size-12 fill-white" />
      <h1 class="text-white font-bold text-2xl mt-3">
        Asesorias de crianza y control de esfinteres
      </h1>
      <p class="text-white font-semibold mt-3">
        Orientación para facilitar el proceso de crianza y el control de
        esfínteres.
      </p>
      <button
        class="bg-white text-primary font-semibold py-2 px-4 rounded-lg mt-10 hover:scale-110 hover:text- transition-all"
      >
        Ver más
      </button>
    </div>
    <div
      class="bg-primary p-4 flex flex-col items-center justify-center rounded-4xl m-4 h-full flex-grow transform transition duration-300 hover:scale-110"
    >
      <SchoolIcon class="size-12 fill-white" />
      <h1 class="text-white font-bold text-2xl mt-3">Prekinder</h1>
      <p class="text-white font-semibold mt-3">
        Preparación para el preescolar, fomentando la autonomía y habilidades
        sociales.
      </p>
      <button
        class="bg-white text-primary font-semibold py-2 px-4 rounded-lg mt-10 hover:scale-110 hover:text- transition-all"
      >
        Ver más
      </button>
    </div>
    <div
      class="bg-primary p-4 flex flex-col items-center justify-center rounded-4xl m-4 h-full flex-grow transform transition duration-300 hover:scale-110"
    >
      <AppleIcon class="size-12 fill-white" />
      <h1 class="text-white font-bold text-2xl mt-3">
        Nutricion infantil y asesoria en lactancia
      </h1>
      <p class="text-white font-semibold mt-3">
        Asesoría sobre lactancia y nutrición para un desarrollo saludable.
      </p>
      <button
        class="bg-white text-primary font-semibold py-2 px-4 rounded-lg mt-10 hover:scale-110 hover:text- transition-all"
      >
        Ver más
      </button>
    </div>
    <div
      class="bg-primary p-4 flex flex-col items-center justify-center rounded-4xl m-4 h-full flex-grow transform transition duration-300 hover:scale-110"
    >
      <SpeakIcon class="size-12 fill-white" />
      <h1 class="text-white font-bold text-2xl mt-3">
        Terapia en lenguaje y aprendizaje
      </h1>
      <p class="text-white font-semibold mt-3">
        Terapias para apoyar el desarrollo del lenguaje y las habilidades
        cognitivas.
      </p>
      <button
        class="bg-white text-primary font-semibold py-2 px-4 rounded-lg mt-10 hover:scale-110 hover:text- transition-all"
      >
        Ver más
      </button>
    </div>
    <div
      class="bg-primary p-4 flex flex-col items-center justify-center rounded-4xl m-4 h-full flex-grow transform transition duration-300 hover:scale-110"
    >
      <CursoIcon class="size-12 fill-white" />
      <h1 class="text-white font-bold text-2xl mt-3">Talleres y cursos</h1><p
        class="text-white font-semibold mt-3"
      >
        Actividades educativas y divertidas para el aprendizaje y desarrollo
        infantil.
      </p>
      <button
        class="bg-white text-primary font-semibold py-2 px-4 rounded-lg mt-10 hover:scale-110 hover:text- transition-all"
      >
        Ver más
      </button>
    </div>
    <div
      class="bg-primary p-4 flex flex-col items-center justify-center rounded-4xl m-4 h-full flex-grow transform transition duration-300 hover:scale-110"
    >
      <PuzzleIcon class="size-12 fill-white" />
      <h1 class="text-white font-bold text-2xl mt-3">Campamentos y mas</h1>
      <p class="text-white font-semibold mt-3">
        Campamentos para ayudar a los niños a desarrollar habilidades motoras y
        sociales.
      </p>
      <button
        class="bg-white text-primary font-semibold py-2 px-4 rounded-lg mt-10 hover:scale-110 hover:text- transition-all"
      >
        Ver más
      </button>
    </div>
  </div>
</section>
